
@import "~bootstrap";

@import "variables";

@import "common";

@import "home";

@import "contact";


.small-card{
    img{
        height: 150px;
        object-fit: cover;
        object-position: center;
    }
}

.big-card{
    img{
        height: 400px;
        width: 100%;
        object-fit: cover;
        object-position: center;
    }
}
